.button-icon {
    width: 24px;
    height: 24px;
}


/*MARK:Filled*/
.button-filled {
    display: flex;
    padding: 10px 20px 10px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 51px;
    border: 1px solid #FFF;
    background: #016201;
    width: fit-content;
}
.button-filled-text {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    margin: 0px;
}


/*MARK:Tonal*/
.button-tonal {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 51px;
    background: #0162011a;
    width: fit-content;
}
.button-tonal-text {
    color: #016201;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    margin: 0px;
}


/*MARK:Outlined*/
.button-outlined {
    display: flex;
    padding: 6px 20px 6px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 51px;
    border: 1px solid #016201;
    background: #FFF;
    width: fit-content;
}
.button-outlined-text {
    color: #016201;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    margin: 0px;
}


/*MARK:Caution*/
.button-caution {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 51px;
    border: 1px solid #A80000;
    background: rgba(255, 0, 0, 0.05);
    width: fit-content;
}
.button-caution-text {
    color: #A80000;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    margin: 0px;
}


